.container {
  margin-top: 20px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.noPlayers {
  font-style: italic;
}

.list {
  list-style-type: disc;
  padding-left: 20px;
}

.listItem {
  margin-bottom: 6px;
}
